# requirements.txt
--extra-index-url https://download.pytorch.org/whl/cu121
--find-links https://data.pyg.org/whl/torch-2.4.0+cu121.html

# PyTorch Ecosystem
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
torch-geometric==2.6.1
torch-cluster==1.6.3+pt24cu121
torch-scatter==2.1.2+pt24cu121
torch-sparse==0.6.18+pt24cu121
torchmetrics==1.6.0
pytorch-lightning==2.4.0
lightning==2.4.0
lightning-utilities==0.11.9
torchsort==0.1.9

# Core Data/Science
numpy==1.26.1
scipy==1.13.1
pandas==2.2.3
biotite==0.40.0
fair-esm==2.0.0

# General dependencies (from your pip list)
aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
alembic==1.14.0
antlr4-python3-runtime==4.9.3
asttokens==3.0.0
async-timeout==5.0.1
attrs==24.2.0
autopage==0.5.2
cfgv==3.4.0
cliff==4.8.0
cmaes==0.11.1
cmd2==2.5.7
colorlog==6.9.0
decorator==5.1.1
distlib==0.3.9
einops==0.8.0
exceptiongroup==1.2.2
executing==2.1.0
frozenlist==1.5.0
fsspec==2024.10.0
greenlet==3.1.1
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
identify==2.6.3
importlib-metadata==8.5.0
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.18.1
jedi==0.19.2
mako==1.3.6
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
msgpack==1.1.0
multidict==6.1.0
nodeenv==1.9.1
omegaconf==2.3.0
optuna==2.10.1
packaging==24.2
parso==0.8.4
pbr==6.1.0
pexpect==4.9.0
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==4.0.1
prettytable==3.12.0
prompt-toolkit==3.0.48
propcache==0.2.1
psutil==6.1.0
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.18.0
pyparsing==3.2.0
pyperclip==1.9.0
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
rich==13.9.4
rootutils==1.0.7
six==1.16.0
sqlalchemy==2.0.36
stack-data==0.6.3
stevedore==5.4.0
tomli==2.2.1
tqdm==4.67.1
traitlets==5.14.3
tzdata==2024.2
virtualenv==20.28.0
wcwidth==0.2.13
yarl==1.18.3
zipp==3.21.0